# Ignore Python cache
__pycache__/
*.pyc

# Ignore notebooks outputs & checkpoints
.ipynb_checkpoints/

# Ignore data files
*.csv
*.tsv
*.xlsx
*.json
*.pickle
*.zip

# Ignore models
*.h5
*.pkl
*.joblib

# Ignore environment files
.env
*.env
*.venv/
env/
venv/

# Ignore Jupyter runtime
~$*
*.log

# Ignore OS junk
.DS_Store
Thumbs.db
